<!DOCTYPE HTML>
<html>
    <head>
    <title>Node Basics</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css"/>
    </head>
    <body>
        <% if (!isAuthenticated){ %>
            <a href="/login">Click to Login</a>
        <% }  else { %>
            Hello <%= user.name %>
            <a href="/logout"> Logout </a>
        <% } %>
        <div class="container">
            <form action="/add" method="post">
                <input type="text" name="newItem" />
                <input type="submit" />
            </form>
        </div>
    </body>
</html>