<!DOCTYPE HTML>
<html>
    <head>
    <title>Login</title>
    </head>
    <body>
        <div class="container">
            <h1> Login to the Website</h1>
            <form action="/login" method="post">
                <input type="text" name="username" placeHolder="UserName"/>
                <input type="password" name="password" placeHolder="password"/>
                <input type="submit"/>
            </form>
        </div>
    </body>
</html>